/* Global */

body {
  font-family: 'Verdana', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height:21px;
  color: #929292;
  overflow-x:hidden;
}
::selection {
  background: #f14833;
  color:#fff;
}
::-moz-selection {
  background: #f14833; /* Firefox */
  color:#fff;
}
img {
  max-width: 100%;
}
a:link {
  text-decoration: none;
}
a:hover {
  color:#f14833;
}
a:visited {
  color: #f14833;
  text-decoration: none;
}

.fright{float:right;
}
.fleft{float:left;
}

.overflow_hidden {overflow-x:hidden;}

/* Navigation */
#undefined-sticky-wrapper {position:relative;height:0 !important;}
.menu {
  position:absolute;
  bottom:0;
  width:100%;
  height:76px;
  background:#222222;
  z-index:9999;
}
#logo {
  float:left;
  margin-bottom:0;
  margin-left:0;
}

#nav {
  text-align: right;
}
.navigation{
  list-style: none;
  margin: 0;
}
ul.navigation {
  overflow-x:hidden;
  position:relative;
  text-align:center;
  margin:0 auto;
  padding:0;
  width:770px;
}
.navigation li{
  display:inline-block;
  text-align:center;
  width:128px;
  padding:28px 0 12px;
  margin:0 -2.5px;
  text-transform:none;
  background:none;
  border-bottom:1px solid #393939;
  font-family: 'Open Sans', sans-serif;
  font-weight:400;
  font-size:18px;
  line-height:20px;
  color:#a3a3a3;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

.navigation li:hover,
.navigation .active {
  cursor:pointer;
  color:#fff;
}

/* ________________ LavaLamp ________________ */
.effect {
  position: absolute;
  left: -130px;
  transition: 0.5s ease-in-out;
}
.navigation li:nth-child(1):hover ~ .effect {
  left: 0; /* ñåðåäèíà ïåðâîãî <a> */
}
.navigation li:nth-child(2):hover ~ .effect {
  left: 128px;  /* ñåðåäèíà âòîðîãî <a> */
}
.navigation li:nth-child(3):hover ~ .effect {
  left: 256px; /* ñåðåäèíà òðåòüåãî <a> */
}
.navigation li:nth-child(4):hover ~ .effect {
  left: 384px; /* ñåðåäèíà ÷åòâåðòîãî <a> */
}
.navigation li:nth-child(5):hover ~ .effect {
  left: 512px; /* ñåðåäèíà ÷åòâåðòîãî <a> */
}
.navigation li:nth-child(6):hover ~ .effect {
  left: 640px; /* ñåðåäèíà ÷åòâåðòîãî <a> */
}

.ph-line-nav .effect {
  position:relative;
  z-index:100;
  width: 128px;
  height: 10px;
  bottom: 5px;
  background: url(menu_effect.png) no-repeat;
  margin-left:0;
}

/* _______________ //LavaLamp _______________ */

.btn_dropdown {
  display:none;
  cursor:pointer;
  background:#fff;
  margin:20px 30px 0 0;
  width:130px;
  height:36px;
  text-align:center;
  font-family: 'Open Sans', sans-serif;
  font-weight:700;
  font-size:18px;
  line-height:36px;
  color:#3e3e3e;
  border-radius:5px;
}
.btn_dropdown:hover {color:#3e3e3e;}


/* General Slides */ 

.slide{
  background-attachment: fixed;
  width:100%;
  height:100%;
  position: relative;
  padding:0;
  z-index:12;
  overflow:hidden;
}


h2 {
  display:block;
  margin:0 0 23px;
  padding:0;
  text-transform:none;
  text-align:left;
  font-style:normal;
  border-bottom:1px solid #e0e0e0;
  font-family: 'Open Sans', sans-serif;
  font-size: 70px;
  line-height: 82px;
  color:#343434;
  font-weight: 300;
}


h3 {
  margin:0;
  padding:40px 0 32px 0;
  text-transform:uppercase;
  text-align:center;
  font-family: 'Open Sans', sans-serif;
  font-weight:800;
  font-size:32px;
  font-style:normal;
  line-height:36px;
  color:#3e3e3e;
}

h4 {
  margin:0;
  padding:0 0 15px;
  text-transform:none;
  text-align:left;
  font-family: 'Open Sans', sans-serif;
  font-weight:300;
  font-size:32px;
  font-style:normal;
  line-height:36px;
  color:#222;
}

img.icon_img {
  float:left;
  margin-right:20px;
  margin-top:20px;
  margin-bottom:25px;
}

.effect_2 {
  background:url(effect_2.png) repeat left top;
  position:relative;
  top:0;
  bottom:-57px;
  height:100%;
  z-index:999 !important;
}

/* ____________________________________ Slide 1 ____________________________________ */ 

.padding_slide1 {padding:241px 0 101px 0;
}

.inset_shadow {
  position:absolute;
  z-index:10;
  left:0;
  right:0;
  top:0;
  bottom:76px;
  box-shadow:0 0 60px rgba(0,0,0, 0.7) inset;
}

#slide1{
  background-image:url(slide1_bg.jpg);
  background-position:0 0 !important;
  background-size: cover !important;
  width:100%;
  text-align:center;
}

.filtr_bg {text-align:center;
}

#slide1 h1 {
  float:none;
  display:block;
  border-right:none;
  margin:0;
  padding:0;
  text-align:center;
  text-transform:uppercase;
  font-family: 'Open Sans', sans-serif;
  font-size: 90px;
  line-height: 115px;
  color:#fff;
  font-weight:800;
  text-shadow:5px 3px 6px rgba(0,0,0,0.26);
}
#slide1 p {
  float:none;
  display:block;
  border-right:none;
  margin:0;
  padding:0;
  text-align:center;
  text-transform:none;
  font-style:italic;
  font-family: 'Open Sans', sans-serif;
  font-size: 32px;
  line-height: 46px;
  color:#fff;
  font-weight:300;
  text-shadow:5px 3px 6px rgba(0,0,0,0.26);
}

.slogan_text {
  display:inline-block;
  padding:0 10px;
  text-transform:none;
  font-style:italic;
  font-family: 'Open Sans', sans-serif;
  font-weight:300;
  font-size:31px;
  line-height:42px;
  color:#fff;
}
.left_bord, .right_bord {
  display:inline-block;
  margin:0 0 10px;
  background:#fff;
  height:1px;
  width:96px;
}


#slide1 .button {
  position:relative;
  z-index:9999;
  cursor:pointer;
  display:block;
  margin:175px auto 0;
  width:49px;
  height:57px;
  border:none;
  text-transform:uppercase;
  background:url(button_down.png) no-repeat;
  transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
}
#slide1 .button:hover {
  margin:176px auto 0;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}



/* ____________________________________ Slide 2 ____________________________________ */ 

#slide2 {
  background:url(slide2_bg.jpg) repeat left top;
  width:100%;
  padding:86px 0 69px;
}

.det_inf {margin-bottom:24px;
}
.det_inf li {margin-bottom:10px;
}
.det_inf li a  {
  color:#929292;
}
.det_inf li a:hover {
  color:#f14833;
}
li.phone {
  background:url(inf_icon.png) no-repeat 0 0;
  padding-left:44px;
}
li.address {
  background:url(inf_icon.png) no-repeat 0 -99px;
  padding-left:44px;
}
li.pers_mail {
  background:url(inf_icon.png) no-repeat 0 -188px;
  padding-left:44px;
}
li.pers_site {
  background:url(inf_icon.png) no-repeat 0 -265px;
  padding-left:44px;
}

/* _________________________ teweets _________________________ */

.tweet {
}

ul.tweets li {
  text-indent:30px;
  margin-bottom:15px;
  color: #929292;
  background:url(twitter.png) no-repeat left top;
  font-style:italic;
}
.sedebar ul.tweets li {
}
ul.tweets li a {
  padding-left:5px;
  font-style:italic;
  color:#f14833;
}
ul.tweets li a:hover {text-decoration:underline;
}

/* ______________________ end tweets _________________________ */

/* ___________________________________ //Slide 2 ___________________________________ */ 





/* ____________________________________ Slide 4 ____________________________________ */ 

#slide4 {
  background:url(slide4_bg.jpg) repeat left top;
  width:100%;
  padding:86px 0 69px;
}
#slide4 h2 {
  color:#b8b8b8;
  border-bottom:1px solid #3b3b3b;
}


/* ____________ SERVICES_BLOCK ___________ */
a.servc_block {
  display:block;
  position:relative;
  text-align:center;
  color:#6f6f6f;
}

.icon_bord {
  position:relative;
  z-index:10;
  top:0;
  left:50%;
  margin-left:-51px;
  width:102px;
  height:116px;
}

.icon1, .icon1_h {
  position:absolute;
  z-index:1;
  top:0;
  left:0;
}

.servc_block .icon1 {
  transition: all 0.5s ease-out;
    opacity: 1;
}
.servc_block:hover .icon1 {
  transform: rotate(720deg) scale(0);
    opacity: 0;
}

.servc_block .icon1_h {
  transition: all 0.5s ease-out;
  transform: rotate(720deg) scale(0);
    opacity: 0;
}
.servc_block:hover .icon1_h {
  transform: rotate(720deg) scale(1);
    opacity: 1;
  transition-delay: 0.4s;
}

.servc_block p {
  font-family: 'Open Sans', sans-serif;
  font-weight:300;
  font-size:20px;
  line-height:22px;
  color:#a3a3a3;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.servc_block:hover p {
  color:#f14833;
  transition-delay: 0.7s;
}


/* ____________ SERVICES_BLOCK ___________ */

/* ___________________________________ //Slide 4 ___________________________________ */ 




/* ____________________________________ Slide 6 ____________________________________ */ 

#slide6 {
  background:url(slide6_bg.jpg) repeat left top;
  width:100%;
  padding:86px 0 69px;
}

#slide6 h2 {color:#222;
}

/* ____________________ exhib_block ____________________ */
.exhib_block {position:relative;}
.exhib_block .fleft {margin-left:1px;}
.exhib_line_center {
  position:absolute;
  left:50%;
  top:12px;
  width:1px;
  height:83%;
  background:#c3c3c3;
}
.exhib_block p {
  padding-bottom:9px;
  font-family: 'Open Sans', sans-serif;
  font-weight:400;
  font-size:14px;
  line-height:21px;
  color:#343434;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.exhib_cont:hover p {color:#f14833;
}

.exhib_p_top {margin-left:80px;
}

.exhib_cont {
  position:relative;
  width:420px;
  margin-top:30px;
  padding:13px 20px 9px;
  background:#fff;
  color:#8d8d8d;
  border:1px solid #dedede;
  border-radius:12px;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.exhib_cont:hover {
  -webkit-box-shadow: 0 0 16px rgba(0,0,0,0.15);
     -moz-box-shadow: 0 0 16px rgba(0,0,0,0.15);
          box-shadow: 0 0 16px rgba(0,0,0,0.15);
}

.exhib_date_right, .exhib_date_left, .exhib_date_top {
  display:block;
  position:absolute;
  width:130px;
  font-family: 'Open Sans', sans-serif;
  font-weight:300;
  font-size:22px;
  line-height:20px;
  color:#f14833;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.exhib_date_top {
  left:49.5%;
  top:0;
  width:95px;
  text-align:right;
  background:url(exhib_date_top_bg_h.png) no-repeat left center;
}

.exhib_date_left {
  left:-130px;
  top:27px;
  background:url(exhib_date_left_bg.png) no-repeat right center;
}
.exhib_date_right {
  right:-130px;
  top:27px;
  text-align:right;
  background:url(exhib_date_left_bg_right.png) no-repeat left center;
}
.exhib_cont:hover .exhib_date_right, .exhib_cont:hover .exhib_date_left, .exhib_cont:hover .exhib_date_top {font-size:26px;
}

.exhib_cont:hover .exhib_date_top {background:url(exhib_date_top_bg_h.png) no-repeat left center;
}
.exhib_cont:hover .exhib_date_left {background:url(exhib_date_left_bg_h.png) no-repeat right center;
}
.exhib_cont:hover .exhib_date_right {background:url(exhib_date_left_bg_right_h.png) no-repeat left center;
}


/* ___________________ //exhib_block ___________________ */



/* ___________________________________ //Slide 6 ___________________________________ */ 



/* ____________________________________ Slide 8 ____________________________________ */ 
#slide8 {
  background:url(slide8_bg.jpg) repeat left top;
  width:100%;
  padding:86px 0 69px;
}
#slide8 h2 {color:#b8b8b8;border-bottom:1px solid #393939;
}

#slide8 h4 {
  padding-bottom:10px;
  color:#acacac;
}

/* ____________________ exhib_block ____________________ */
#slide8 .exhib_cont {
  background:#676767;
  border:1px solid #5b5b5b;
  color:#393939;
}
#slide8 .exhib_cont:hover {
  -webkit-box-shadow: 0 0 16px rgba(0,0,0,0.8);
     -moz-box-shadow: 0 0 16px rgba(0,0,0,0.8);
          box-shadow: 0 0 16px rgba(0,0,0,0.8);
}
#slide8 .exhib_block .fleft {margin-left:0;
}
#slide8 .exhib_line_center {
  background:#676767;
  height:87%;
}
#slide8 .exhib_date_right, #slide8 .exhib_date_left, #slide8 .exhib_date_top {width:230px;}
#slide8 .exhib_date_left {left:-230px;}
#slide8 .exhib_date_right {right:-230px;}

#slide8 .exhib_date_top {background:url(exhib_date_top_bg2_h.png) no-repeat left center;
}

#slide8 .exhib_date_right {background:url(exhib_date_left_bg_right2.png) no-repeat left center;
}
#slide8 .exhib_date_left {background:url(exhib_date_left_bg2.png) no-repeat right center;
}

#slide8 .exhib_block p {font-size:16px;color:#222;}
#slide8 .exhib_cont:hover p {color:#acacac;
}
#slide8 .exhib_p_top {color:#6f6f6f !important;}


#slide8 .exhib_cont:hover .exhib_date_left {background:url(exhib_date_left_bg2_h.png) no-repeat right center;
}
#slide8 .exhib_cont:hover .exhib_date_right {background:url(exhib_date_left_bg_right2_h.png) no-repeat left center;
}

/* ___________________ //exhib_block ___________________ */


/* ___________________________________ //Slide 8 ___________________________________ */








/* ____________________________________ Slide 10 ____________________________________ */ 
#slide10 {
  background:url(slide10_bg.jpg) repeat left top;
  width:100%;
  padding:86px 0 69px;
}

/* _________________ PORTFOLIO ________________ */
.gallery-list {
  /*width: 980px;*/
  text-align:center;
  margin-right:-20px !important;
}
#slide10 .hover_img {
  overflow:hidden;
  position:relative;
  height:291px;
  width:255px;
  background:#fff;
}


.img_block {
  display:inline-block;
  margin:0;
  width:251px;
  height:100%;
}

.img_block_bg {
  position:absolute;
  z-index:100;
  left:0;
  top:0;
}

.portfolio_zoom, .portfolio_link {
  width:42px;
  height:42px;
  position:absolute;
  z-index:110;
  bottom:85px;
  background-repeat:no-repeat;
  opacity:0.61;
  filter: alpha(opacity=61);
  transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
}
.portfolio_zoom {
  left:-77px;
  background-image:url(zoom.png);
}
.portfolio_link {
  right:-77px;
  background-image:url(link.png);
}
.portfolio_zoom:hover, .portfolio_link:hover {
  opacity:1;
  filter: alpha(opacity=100);
  z-index:310;
}
.portfolio_zoom a, .portfolio_link a {
  display:block;
  width:42px;
  height:42px;
  text-indent:-9999px;
}

/*.img_block:hover .portfolio_zoom {left:104px;transition-delay: 0.3s;
}*/
.img_block:hover .portfolio_link {right:104px;transition-delay: 0.3s;
}

.item_description {
  position:absolute;
  top:-273px;
  width:255px;
  height:291px;
  padding:0;
  background:#f14833;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-align:center;
  color:#fff;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.item_description p {
  padding:74px 10px 0;
  text-transform:uppercase;
  font-size:18px;
}
.img_block:hover .item_description {
  top:20px;
}
.img_block .portf_img {
  position:absolute;
  left:18px;
  top:18px;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.img_block:hover .portf_img {
  position:absolute;
  top:235px;
}



/* ________________ //PORTFOLIO _______________ */

/* ___________________________________ //Slide 10 ___________________________________ */







/* ____________________________________ Slide 12 ____________________________________ */

#slide12 {
  background:url(slide12_bg.jpg) repeat left top;
  background-position:0 0 !important;
  width:100%;
  padding:86px 0 69px;
}

#slide12 h2 {color:#b8b8b8;border-bottom:1px solid #393939;
}

#slide12 p {color:#888888;
}
#slide12 .foto {
  float:left;
  margin:0 20px 20px 0;
}

#slide12 h5 {
  margin:100px 0 0 0;
  padding-bottom:8px;
  text-transform:none;
  font-family: 'Open Sans', sans-serif;
  font-size: 32px;
  line-height: 31px;
  font-weight: 300;
  color:#acacac;
}

.client_foto {
  float:left;
  position:relative;
  margin:0 15px 10px 0;
  height:384px;
  width:334px;
}
.client_foto img {
  position:absolute;
  left:0;
  top:0;
  z-index:10;
}
.foto {z-index:5 !important;}

.contact_det,
.contact_det a {
  color:#888888;
  line-height:26px;
}
.contact_det a:hover {color:#f14833;}

/* ______________ SOCIALS ______________ */
.socials a {
  display:inline-block;
  width:27px;
  height:32px;
  margin:5px 8px 0;
  transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
}

.soc1 {
  background:url(socials.png) no-repeat;
  background-position:0 0;
}
.soc2 {
  background:url(socials.png) no-repeat;
  background-position:-47px 0;
}
.soc3 {
  background:url(socials.png) no-repeat;
  background-position:-94px 0;
}
.soc4 {
  background:url(socials.png) no-repeat;
  background-position:-141px 0;
}
.soc1:hover {background-position:0 -32px;
}
.soc2:hover {background-position:-47px -32px;
}
.soc3:hover {background-position:-94px -32px;
}
.soc4:hover {background-position:-141px -32px;
}

/* _____________ //SOCIALS _____________ */


/* ____________________________________ //Slide 12 ____________________________________ */

/* ____________________________________ FOOTER ____________________________________ */
#footer {
  position:relative;
  z-index:12;
  background:#343434;
  padding:27px 0 200px 0;
}
.copyright {
  float:left;
  text-transform:uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight:400;
  color:#9b9b9b;
}
.copyright a {
  color:#f14833;
}
.copyright a:hover {text-decoration:none;color:#fff;
}

/* _____________ BACK_TOP ___________ */
#back_top {
  float:right;
}
#back_top a.button {
  cursor:pointer;
  position:relative;
  z-index:300;
  display:block;
  margin:0;
  width:26px;
  height:30px;
  background:url(back_top.png) no-repeat;
  text-transform:uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight:400;
  color:#fff;
}
#back_top a.button:hover {text-decoration:none;}
/* ____________ //BACK_TOP __________ */

/* ___________________________________ //FOOTER ___________________________________ */






/*! normalize.css 2012-03-11T12:53 UTC - http://github.com/necolas/normalize.css */

/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

/*
 * Corrects block display not defined in IE6/7/8/9 & FF3
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
    display: block;
}

/*
 * Corrects inline-block display not defined in IE6/7/8/9 & FF3
 */

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

/*
 * Prevents modern browsers from displaying 'audio' without controls
 * Remove excess height in iOS5 devices
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/*
 * Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4
 * Known issue: no IE6 support
 */

[hidden] {
    display: none;
}


/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Prevents iOS text size adjust after orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */

html {
    font-size: 100%; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

/*
 * Addresses font-family inconsistency between 'textarea' and other form elements.
 */

html,
button,
input,
select,
textarea {
    font-family: sans-serif;
}

/*
 * Addresses margins handled incorrectly in IE6/7
 */

body {
    margin: 0;
}


/* =============================================================================
   Links
   ========================================================================== */

/*
 * Addresses outline displayed oddly in Chrome
 */

/*
 * Improves readability when focused and also mouse hovered in all browsers
 * people.opera.com/patrickl/experiments/keyboard/test
 */

a:hover,
a:active {
    outline: 0;
}


/* =============================================================================
   Typography
   ========================================================================== */

/*
 * Addresses font sizes and margins set differently in IE6/7
 * Addresses font sizes within 'section' and 'article' in FF4+, Chrome, S5
 */

/*
 * Addresses styling not present in IE7/8/9, S5, Chrome
 */

abbr[title] {
    border-bottom: 1px dotted;
}

/*
 * Addresses style set to 'bolder' in FF3+, S4/5, Chrome
*/

b,
strong {
    font-weight: bold;
}

blockquote {
    margin: 1em 40px;
}

/*
 * Addresses styling not present in S5, Chrome
 */

dfn {
    font-style: italic;
}

/*
 * Addresses styling not present in IE6/7/8/9
 */

mark {
    background: #ff0;
    color: #000;
}

/*
 * Addresses margins set differently in IE6/7
 */

p,
pre {
    margin:0;
  padding:0 0 15px 0;
}

/*
 * Corrects font family set oddly in IE6, S4/5, Chrome
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */

pre,
code,
kbd,
samp {
    font-family: monospace, serif;
    _font-family: 'courier new', monospace;
    font-size: 1em;
}

/*
 * Improves readability of pre-formatted text in all browsers
 */

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

/*
 * 1. Addresses CSS quotes not supported in IE6/7
 * 2. Addresses quote property not supported in S4
 */

/* 1 */

q {
    quotes: none;
}

/* 2 */

q:before,
q:after {
    content: '';
    content: none;
}

small {
    font-size: 75%;
}

/*
 * Prevents sub and sup affecting line-height in all browsers
 * gist.github.com/413930
 */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}


/* =============================================================================
   Lists
   ========================================================================== */

/*
 * Addresses margins set differently in IE6/7
 */

dl,
menu,
ol,
ul {
}

dd {
    margin: 0 0 0 40px;
}

/*
 * Addresses paddings set differently in IE6/7
 */

menu,
ol,
ul {
  list-style-type:none;
  margin:0;
  padding:0;
}

/*
 * Corrects list images handled incorrectly in IE7
 */

nav ul,
nav ol {
    list-style: none;
    list-style-image: none;
}


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Removes border when inside 'a' element in IE6/7/8/9, FF3
 * 2. Improves image quality when scaled in IE7
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */

img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

/*
 * Corrects overflow displayed oddly in IE9
 */

svg:not(:root) {
    overflow: hidden;
}


/* =============================================================================
   Figures
   ========================================================================== */

/*
 * Addresses margin not present in IE6/7/8/9, S5, O11
 */

figure {
    margin: 0;
}


/* =============================================================================
   Forms
   ========================================================================== */

/*
 * Corrects margin displayed oddly in IE6/7
 */

form {
    margin: 0;
}

/*
 * Define consistent border, margin, and padding
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/*
 * 1. Corrects color not being inherited in IE6/7/8/9
 * 2. Corrects text not wrapping in FF3
 * 3. Corrects alignment displayed oddly in IE6/7
 */

legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
    *margin-left: -7px; /* 3 */
}

/*
 * 1. Corrects font size not being inherited in all browsers
 * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome
 * 3. Improves appearance and consistency in all browsers
 */

button,
input,
select,
textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

/*
 * Addresses FF3/4 setting line-height on 'input' using !important in the UA stylesheet
 */

button,
input {
    line-height: normal; /* 1 */
}

/*
 * 1. Improves usability and consistency of cursor style between image-type 'input' and others
 * 2. Corrects inability to style clickable 'input' types in iOS
 * 3. Removes inner spacing in IE7 without affecting normal text inputs
 *    Known issue: inner spacing remains in IE6
 */

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer; /* 1 */
    -webkit-appearance: button; /* 2 */
    *overflow: visible;  /* 3 */
}

/*
 * Re-set default cursor for disabled elements
 */

button[disabled],
input[disabled] {
    cursor: default;
}

/*
 * 1. Addresses box sizing set to content-box in IE8/9
 * 2. Removes excess padding in IE8/9
 * 3. Removes excess padding in IE7
      Known issue: excess padding remains in IE6
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    *height: 13px; /* 3 */
    *width: 13px; /* 3 */
}

/*
 * 1. Addresses appearance set to searchfield in S5, Chrome
 * 2. Addresses box-sizing set to border-box in S5, Chrome (include -moz to future-proof)
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/*
 * Removes inner padding and search cancel button in S5, Chrome on OS X
 */

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

/*
 * Removes inner padding and border in FF3+
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9
 * 2. Improves readability and alignment in all browsers
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}


/* =============================================================================
   Tables
   ========================================================================== */

/*
 * Remove most spacing between table cells
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}







/* Computer */
.grid_1 { width: 6.5%; } 
.grid_2 { width: 15%; } 
.grid_3 { width: 23.5%; } 
.grid_4 { width: 32%; } 
.grid_5 { width: 40.5%; }
.grid_6 { width: 49%; } 
.grid_7 { width: 57.5%; } 
.grid_8 { width: 66%; } 
.grid_9 { width: 74.5%; } 
.grid_10 { width: 83%; } 
.grid_11 { width: 91.5%; } 
.grid_12 { width: 100%; } 

.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
  margin: 0 20px 20px 0;
  float: left;
  display: block;
}

.alpha      {margin-left:0;}
.omega      {margin-right:0;}
.gallery-list   {margin:0;padding:0;}
.little_respond {display:none;}

.container{
  width: 1000px;
  max-width: 1000px;
  margin: auto;
  
}



.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}
.clearfix:after{position:relative;z-index:99;clear:both;content:' ';display:block;font-size:0;line-height:0;visibility:hidden;width:0;height:0}* html .clearfix,*:first-child+html .clearfix{zoom:1}

@media only screen and (max-width: 1024px) {
  .slide{background-attachment: scroll;background-position:0 0 !important;
  }
}

@media only screen and (min-width: 767px) and (max-width: 1023px) { 
  
  
  .gallery-list .omega {margin-right:10px;}
  
  .filtr_bg {left:50%;}

  h4 {font-size:27px;}
  
  #slide1 h1 {font-size:50px;line-height:65px;}
  #slide1 p {font-size:30px;line-height:36px;}
  
  .padding_slide1 {padding:150px 0 30px;}
  
  .pers_inf li span {width:130px;}
  
  .exhib_cont {width:282px;}
  .exhib_block p {width:250px;}
  .exhib_date_top {left:49.3%;}


  
/* _______________ Gallery ________________ */  
  
/* ______________ //Gallery _______________ */  
/* ___________ SERV_BLOCK __________ */
  .servc_block p {font-size:28px;}
  
/* __________ //SERV_BLOCK _________ */

/* _____________ menu ______________ */
  ul.navigation {width:100%;}
  .navigation li {width:120px;}
  .navigation li:hover, .navigation .active {background:url(menu_effect.png) no-repeat bottom center;}
  
  .ph-line-nav .effect {display:none;}
/* ____________ //menu _____________ */
  
  .container { width: 724px; }
  .container .alpha        { margin-left: 0; margin-right: 5px; }
  .container .omega        { margin-right: 0; }
  .gallery-list .omega {margin-right:10px;}
  .container .respond_pad {padding-right:20px;}
  
  .grid_3     { width: 166px; }
  .grid_4     { width: 228px; }
  .grid_5         { width: 290px; }
  .grid_6         { width: 352px; }
  .grid_7       { width: 414px; }
  .grid_8       { width: 475px; }
  .grid_9     { width: 538px; }
  .grid_12    { width: 724px; }
}

@media only screen and (max-width: 766px) {
/* _______ RESPONS_MENU _________ */
  .btn_dropdown {display:block;   
  }
  ul.navigation li {float:none;width:100%;text-align:left;padding:9px 0 7px 20px;margin:0;color:#343434;}
  .navigation li:hover, .navigation .active {
    color:#fff;
    background:#f14833;
    border-bottom:1px solid #616161;
  }
  .navigation {
    display:none;
    left:0;
    top:7px;
    width:160px;
    background:#fff;
    border-radius:5px;
    box-shadow:0 0 4px #000;
  }
  
  ul.navigation {width:200px;padding:0;margin:0;}
  

  
  .ph-line-nav .effect {display:none;}
/* ______ //RESPONS_MENU ________ */
  
  h2 {padding-bottom:10px;font-size:45px;line-height:58px;}
  
  
  #slide12 .foto {float:none;}
  #slide12 h5 {font-size:26px;}

/* _______________ JCAROUSEL ________________ */

/* ______________ //JCAROUSEL _______________ */

  .inset_shadow {top:76px;bottom:0;}
  
  .menu {position:fixed;top:0;margin-top:0 !important;}
  #undefined-sticky-wrapper {height:0 !important;}
  
  
  
}

@media only screen and (min-width: 480px) and (max-width: 766px) {
  h1 {font-size:46px;line-height:115px;padding-bottom:0;}
  
  #logo {text-align:center;}
  
  .padding_slide1 {padding:188px 0 100px;}
  
  .filtr_bg {width:420px;left:50%;}
  .slogan_text {font-size:21px;}
  .left_bord, .right_bord {margin-bottom:6px;}
  #slide1 h1 {font-size:30px;line-height:40px;}
  #slide1 p {font-size:21px;line-height:42px;}
  
  #slide1 .button {margin:50px auto 0;}
  #slide1 .button:hover {margin:51px auto 0;}
  
  .exhib_line_center {left:4px;height:79%;}
  .exhib_date_top {left:0;}
  .exhib_p_top {margin-left:120px;}
  .exhib_date_left, .exhib_date_right {
    top:-30px;
    left:-42px;
    height:115px;
    padding-left:40px;
    text-align:left;
    background:url(exhib_date_left_bg.png) no-repeat left center;
  }
  .exhib_cont:hover .exhib_date_left, .exhib_cont:hover .exhib_date_right {background:url(exhib_date_left_bg_h.png) no-repeat left center;
  }
  
  #slide8 .exhib_date_left, #slide8 .exhib_date_right {
    top:-30px;
    left:-42px;
    height:115px;
    padding-left:40px;
    text-align:left;
    background:url(exhib_date_left_bg2.png) no-repeat left center;
  }
  #slide8 .exhib_cont:hover .exhib_date_left, #slide8 .exhib_cont:hover .exhib_date_right {background:url(exhib_date_left_bg2_h.png) no-repeat left center;
  }
  
  #slide8 .exhib_block .fleft {margin-left:42px;}
  #slide8 .exhib_date_top {width:155px;}
  #slide8 .exhib_p_top {margin-left:170px;}
  #slide8 .exhib_line_center {height:83%;}
  
  .exhib_cont, .exhib_block .fleft {
    margin-left:42px;
    margin-top:50px;
    width:230px;
  }
  
  .gallery-list {margin-right:0 !important;}
  
/* _____________ menu ______________ */ 
  #nav {margin:0;}

/* ____________ //menu _____________ */ 

/* _______________ JCAROUSEL ________________ */
  
/* ______________ //JCAROUSEL _______________ */

  .container { width: 420px; }
  
  .grid_1,
  .grid_2,
  .grid_3,
  .grid_4,
  .grid_5,
  .grid_6,
  .grid_7,
  .grid_8,
  .grid_9,
  .grid_10,
  .grid_11,
  .grid_12 {width:420px;}
  
  .fright{float:none;}
  .fleft{float:none;}
  
}

@media screen and (max-width : 479px) { 
  
  h2 {font-size:40px;line-height:50px;margin:0;}
  h4 {font-size:22px;line-height:28px;}
  
  #logo {text-align:center;}
  #logo img {width:130px;margin-top:10px;}
  
  
  .padding_slide1 {padding:188px 0 100px;}

  .filtr_bg {width:295px;}
  .slogan_text {font-size:21px;}
  .left_bord, .right_bord {margin-bottom:6px;width:70px;}
  #slide1 h1 {font-size:24px;line-height:30px;}
  #slide1 p {font-size:21px;line-height:42px;}
  #slide1 .button {margin:40px auto 0;}
  #slide1 .button:hover {margin:41px auto 0;}
  
  
  
  .educ_block p {font-size:16px;}
  
  .pers_inf li {font-size:12px;}
  .pers_inf li span {width:110px;}
  
  
  .exhib_line_center {left:4px;height:79%;}
  .exhib_date_top {left:0;}
  .exhib_p_top {margin-left:42px;padding-top:30px;}
  .exhib_date_left, .exhib_date_right {
    top:-30px;
    left:-42px;
    height:115px;
    padding-left:40px;
    text-align:left;
    background:url(exhib_date_left_bg.png) no-repeat left center;
  }
  .exhib_cont:hover .exhib_date_left, .exhib_cont:hover .exhib_date_right {background:url(exhib_date_left_bg_h.png) no-repeat left center;
  }
  #slide8 .exhib_date_left, #slide8 .exhib_date_right {
    top:-30px;
    left:-42px;
    height:115px;
    padding-left:40px;
    text-align:left;
    background:url(exhib_date_left_bg2.png) no-repeat left center;
  }
  #slide8 .exhib_cont:hover .exhib_date_left, #slide8 .exhib_cont:hover .exhib_date_right {background:url(exhib_date_left_bg2_h.png) no-repeat left center;
  }
  
  #slide8 .exhib_block .fleft {margin-left:42px;}
  #slide8 .exhib_date_top {width:155px;}
  #slide8 .exhib_p_top {margin-left:42px;padding-top:30px;}
  #slide8 .exhib_line_center {height:84%;}
  
  .exhib_cont, .exhib_block .fleft {
    margin-left:42px;
    margin-top:50px;
    width:210px;
  }
  
  .gallery-list {margin-right:0 !important;}
  
  .client_foto img {width:300px;}
  
/* _______________ JCAROUSEL ________________ */
  
/* ______________ //JCAROUSEL _______________ */

/* ___________ SERV_BLOCK __________ */
  
    
/* __________ //SERV_BLOCK _________ */
/* _____________ menu ______________ */
  .menu {position:fixed;}
  
  #nav {margin:0;}
/* ____________ //menu _____________ */ 
  .container { width: 300px; }

  .grid_1,
  .grid_2,
  .grid_3,
  .grid_4,
  .grid_5,
  .grid_6,
  .grid_7,
  .grid_8,
  .grid_9,
  .grid_10,
  .grid_11,
  .grid_12 {
    width:300px;
  }
  
  .fright{float:none;}
  .fleft{float:none;}

}

@media screen and (max-width : 399px) { 
  .btn_dropdown {margin-right:3px;}
  
  
  .gallery-list {width:270px;margin-left:15px !important;}
  
  
  #map_block iframe {height:300px !important;}
  
  
  .contact_form input[type="text"], .contact_form textarea {width:88%;}
  
  
  .container { width: 295px; }

  .grid_1,
  .grid_2,
  .grid_3,
  .grid_4,
  .grid_5,
  .grid_6,
  .grid_7,
  .grid_8,
  .grid_9,
  .grid_10,
  .grid_11,
  .grid_12 {
    width:295px;
  }
  
}














@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/DXI1ORHCpsQm3Vp6mXoaTaRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/k3k702ZOKiLJc3WVjuplzKRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/EInbV5DfGHOiMmvb1Xr-hqRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: local('Open Sans Light Italic'), local('OpenSansLight-Italic'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/PRmiXeptR36kaC0GEAetxvR_54zmj3SbGZQh3vCOwvY.woff) format('woff');
}

